---
import { Image } from "astro:assets";
import pabloProfilePicture from "../images/tinder/pablo.jpg";
import susanaProfilePicture from "../images/tinder/susana.jpg";
import brunoProfilePicture from "../images/tinder/bruno.jpg";
import allonaProfilePicture from "../images/tinder/allona.jpg";
import maisoProfilePicture from "../images/tinder/maiso.jpg";
import victorRubioProfilePicture from "../images/tinder/victor-rubio.jpg";
---

<!-- TINDER -->
<section class="tinder fluid-column">
  <div>
    <div class="title urbanist-900">Game - Set - Match!</div>
    <p>
      Aún teniendo en cuenta tantísimas variables, como la posición (de los
      astros), el momento y el lugar, o ya sea usando teoremas, corolarios y
      otras reglas, a veces es CASI imposible encontrar el amor mediante las
      matemáticas.
    </p>
    <p>
      Y digo CASI porque existen casos en las matemáticas, que como toda regla,
      siempre tienen su excepción. Una excepción que no depende de la lógica o
      la aritmética sino que viene de la intuición y que, como en la vida real,
      puede darse mediante un simple flechazo.
    </p>
  </div>

  <div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]"
  >
    <div
      class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"
    >
    </div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"
    >
    </div>
    <div
      class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"
    >
    </div>
    <div
      class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"
    >
    </div>
    <div
      class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800"
    >
      <div class="tbg">
        <div class="theader">
          <svg
            width="32"
            height="32"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"
            ></path></svg
          >
          <!-- <i class="fa fa-cog" aria-hidden="true"></i> -->

          <div class="tlogo">
            <img
              src="https://worldvectorlogo.com/logos/tinder-1.svg"
              alt="Tinder Logo"
              title="Tinder Logo"
            />
          </div>

          <svg
            width="32"
            height="32"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2s0 0 0 0s0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.2-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9c0 0 0 0 0 0s0 0 0 0l-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"
            ></path></svg
          >
          <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
        </div>

        <div class="tbgwrap">
          <div class="tphoto">
            <div class="slides">
              <div id="slide-1">
                <Image
                  src={pabloProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Pablo."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Pablo Escobar, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Me encantan los paseos en bici y hacer snowboard.
                  </div>
                </div>
              </div>
              <div id="slide-2">
                <Image
                  src={susanaProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Susana."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Susana, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </div>
                </div>
              </div>
              <div id="slide-3">
                <Image
                  src={brunoProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Bruno."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Bruno Flores, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Me encantan los paseos en bici y hacer snowboard.
                  </div>
                </div>
              </div>
              <div id="slide-4">
                <Image
                  src={allonaProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Jesús."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Jesús Allona, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Me encantan los paseos en bici y hacer snowboard.
                  </div>
                </div>
              </div>
              <div id="slide-5">
                <Image
                  src={maisoProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Manuel."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Manuel Maiso, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Me encantan los paseos en bici y hacer snowboard.
                  </div>
                </div>
              </div>
              <div id="slide-6">
                <Image
                  src={victorRubioProfilePicture}
                  class="tinder-profile__picture"
                  title="Avatar"
                  alt="Avatar de Victor Rubio."
                />
                <div class="tinder-profile__content">
                  <div class="tname">
                    Victor Rubio, <span class="age">32</span>
                  </div>
                  <div class="tinfo">
                    Me encantan las escape rooms, los gatitos y el gym.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tcontrols">
            <div class="tno">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                ></path></svg
              >
              <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
            </div>
            <div class="ti">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-4.5-9-16-9.6-22.5-2l-25.2 29.3c-6.6 7.6-18.5 7.4-24.7-.5c-16.5-21-46-58.5-62.8-79.8c-6.3-8-18.3-8.1-24.7-.1c-33.8 42.5-50.8 69.3-50.8 99.4C112 375.4 162.6 416 225.7 416z"
                ></path></svg
              >
              <!-- <i class="fa fa-info" aria-hidden="true"></i> -->
            </div>
            <div class="tyes">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
                ></path></svg
              >
              <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
            </div>
          </div>
        </div>

        <div class="credit">
          <a href="http://themakery.jcink.net">Created by HotRixx</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* TINDER STYLES */
  .tinder {
  }

  .tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
  }

  .tbgwrap {
    padding: 10px;
  }

  .theader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    height: 65px;
    border-bottom: 1px solid #c0c0c0;
  }

  .theader i.fa-comments {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: right;
    padding: 10px 20px;
    position: relative;
  }

  .theader i.fa-cog {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: left;
    padding: 10px 20px;
    position: relative;
  }

  .tlogo {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
  }

  .tlogo img {
    width: 100px;
  }

  .tphoto {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
  }
  .tphoto img {
  }
  .tname {
    padding: 15px;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    float: left;
  }
  .tname .age {
    font-weight: 200;
  }

  .tinfo {
    padding: 12px;
    position: relative;
    font-family: "Helvetica", sans-serif;
    color: #c0c0c0;
  }

  .tcontrols {
  }
  .tno {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 25px;
    border: 10px solid #f0f0f0;
  }

  .tno i {
    color: #ff695b;
    font-size: 80px;
    padding: 17px 28px;
  }

  .ti {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    left: 12px;
    top: 30px;
    border: 10px solid #f0f0f0;
  }
  .ti .fa-info {
    font-size: 23px;
    padding: 15px 20px;
    color: #398beb;
  }

  .tyes {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 48px;
    left: 0px;
    border: 10px solid #f0f0f0;
  }
  .tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 35px 30px;
  }
  .credit {
    width: 400px;
    height: auto;
    position: relative;
    top: 60px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px 0px;
  }
  .credit a {
    font-size: 7px;
    letter-spacing: 5px;
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    font-style: italic;
  }

  .tinder-profile__picture {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: cover;
    aspect-ratio: 1;
  }

  .tinder-profile__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }

  /* TINDER SLIDES */
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    margin-right: 50px;
    /* border-radius: 10px;
    background: #eee; */
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  }
</style>
